.login {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}
.login .bg {
  flex: 1;
  position: relative;
  background: url(images/bg@2x.png);
  background-size: 100% 100%;
}
.login .bg .text {
  position: absolute;
  bottom: 96px;
  left: 70px;
}
.login .bg .text .textCh {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
  font-family: PingFangSC, PingFangSC-Medium;
}
.login .bg .text .textEn {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.65);
  line-height: 14px;
  font-family: ArialMT;
}
.login .loginBox {
  flex: 1.618;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 247px;
  background: url(images/bglogo.svg);
}
.login .loginBox .logo {
  width: 84px;
  height: 72px;
  margin-bottom: 6px;
}
.login .loginBox .title {
  font-size: 26px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  line-height: 37px;
  margin-bottom: 70px;
}
.login .loginBox .record {
  position: absolute;
  bottom: 29px;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: rgba(0, 0, 0, 0.45);
  line-height: 20px;
  font-family: PingFangSC, PingFangSC-Regular;
}
.login .loginBox .formBox {
  max-width: 368px;
  width: 100%;
}
.login .loginBox .formBox .formInput {
  padding-bottom: 8px;
}
.login .loginBox .formBox .formInputB {
  margin-bottom: 46px;
}
.login .loginBox .formBox .inputUser {
  height: 40px;
}
.login .loginBox .formBox .inputPassword {
  width: 241px;
  height: 40px;
}
.login .loginBox .formBox .btn {
  position: absolute;
  top: 0;
  width: 119px;
  height: 40px;
  opacity: 1;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-left: 249px;
}
.login .loginBox .formBox .btnB {
  position: absolute;
  height: 40px;
  top: -24px;
  border-radius: 10px;
}
