.formBox {
  // width: 400px;
  // display: flex;
  // flex-direction: column;
  // align-content: center;
  // height: 441px;
  .weight {
    // width: 408px;
    width: 100%;
    padding-bottom: 11px;
    // margin-left: auto;
    // margin-right: auto;
    .select_after {
      margin-bottom: -2px;
    }
  }
  // .company {
  //   // padding-left: 50px;
  //   // margin-right: auto;
  //   padding-bottom: 11px;
  // }
  .switch {
    margin-left: 33px;
    // padding-bottom: 1px;
  }
}
